.menu {
	position: relative;

	/* To brute force center the menu */
	top: -4em;
	left: -1em;
}

.menu li:first-child {
	background: url("../../img/bluelotus.jpg") no-repeat center;
	background-size: cover;
}

.menu li {
	background: #F49230;
	font-family: 'Raleway';
	color: #323232;
	font-size: 1.5em;
	opacity: 0.85;
	filter: alpha(opacity=85);
}

.menu a {
	text-decoration: none;
	color:#fff;
}