/* ===================
 *  GENERAL STYLING
 * ===================
 */
body {
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.2em;
	font-weight: 200;
	color: #373712;
}

h2 {
	margin: 0;
	padding: 0.5em 0;
	font-weight: 100;
	letter-spacing: 1px;
	color: #707070;
}

h3 {
	font-weight: 200;
	letter-spacing: 1px;
	color: #707070;
}

/* vertically aligning a div inside another div */
.table {
	display: table;
	width: 100%;
	height: 100vh;
	margin-bottom: 0;
}
.table-overlay {
	display: table-cell;
	vertical-align: middle;
}
.col-xs-6 {
	padding: 5px;
}




/* =========================
 *  THE HOME PAGE
 * =========================
 */
div.gradient-bkgrd {
	background: url(../../img/blueyellowbkgrd.png) no-repeat fixed center center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	width: 100%;
	height: 100vh;
}
#home-title {
	position: absolute;
	top: 25vh;
	width: 100%;
}

.menu {
	position: relative;
	margin: auto;
	top: -2.5em;
	left: -1.25em;
	height: 100%;
	box-shadow: 2px 2px 2px;
}
.menu li:first-child {
	background: #323232 url("../../img/hand.png") no-repeat center;
	background-size: 4.5em 4.5em;
	-webkit-background-size: 4.5em 4.5em;
	-moz-background-size: 4.5em 4.5em;
	box-shadow: 1px 1px 7px #797979;
}
.menu li {
	background: #F49230;
	font-family: 'Raleway';
	color: #323232;
	font-size: 1.5em;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.menu li:hover {
	cursor: pointer;
}
.menu a {
	text-decoration: none;
	color:#fff;
}




/* ===========
 *  LOG PAGE
 * ===========
 */
.colored-block {
	height: 7em;
	opacity: 0.95;
	filter: alpha(opacity=95);
	margin: auto;
	border-radius: 3px;
}
.black-block {
	background-color: #272727;
	/*box-shadow: 0 0 2px 5px #272727;*/
}
.purple-block {
	background-color: mediumpurple;
	/*box-shadow: 0 0 2px 5px mediumpurple;*/
}
.blue-block {
	background-color: royalblue;
	/*box-shadow: 0 0 2px 5px royalblue;*/
}
.green-block {
	background-color: mediumseagreen;
	/*box-shadow: 0 0 2px 5px mediumseagreen;*/
}
.yellow-block {
	background-color: khaki;
	/*box-shadow: 0 0 2px 5px khaki;*/
}
.orange-block {
	background-color: sandybrown;
	/*box-shadow: 0 0 2px 5px sandybrown;*/
}
.red-block {
	background-color: firebrick;
	/*box-shadow: 0 0 2px 5px firebrick;*/
}
.pink-block {
	background-color: lightcoral;
	/*box-shadow: 0 0 2px 5px lightcoral;*/
}
.white-block {
	background-color: #f9f9f9;
	/*box-shadow: 0 0 2px 5px #f9f9f9;*/
}



/* ===========================
 *   CIRCLES
 * ===========================
 */
.circle {
	overflow: hidden;
	border-radius: 48%;
    margin-left: auto;
    margin-right: auto;
}
.small_circle{
    overflow: hidden;
    border-radius: 48%;
    width: 7vw;
    height: 7vw;
    background-color: white;
    border: .2vh solid orange;
    display: inline-block;
    margin: auto;
}


















