.circle {
	overflow: hidden;
	border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.small_circle{
    overflow: hidden;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    background-color: white;
    border: .2vh solid orange;
    display: inline-block;
    margin: auto;
}

#one{
	background-color: #fff;
    width: 50vw;
    height: 50vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: .5vh solid orange;
}

#print{
    background-image: url(../../img/print.png);
    background-repeat: no-repeat;
    background-size: 25vw 25vw;
    background-position: center center;
    position: absolute;
    right:12.5vw;
    left:12.5vw;
    top:12.5vw;
    bottom:12.5vw;
}

#two {
	position: absolute;
	background-color: orange;
    right:25vw;
    left:25vw;
    top:25vw;
    bottom:25vw;
}

#searching_text{
    text-align: center;
    color: orange;
    position: absolute;
    right:11vw;
    left:11vw;
    top:11vw;
    bottom:11vw;
    font-size:5.5vw;
}

#found{
    background-image: url(../../img/location_connection.png);
    background-repeat: no-repeat;
    background-size: 47vw 11vw;
    height: 11vw;
    width:47vw;
    background-position: center center;
}


#left_fill, #center-fill, #right_fill {
    background-color: orange
}

