<div ng-controller="ConnectCtrl" class="text-center gradient-bkgrd">
	<div class="pause-nav">
		<div class="col-xs-4">
			<a href="/home"><i class="fa fa-angle-left"></i></a>
		</div>
		<div class="col-xs-4">
			<h5 class="page-title">Connect</h5>
		</div>
		<div class="col-xs-4">
		</div>
	</div>
	<div id="connect-status">
		<h4 class="thin-text">{{statusText}}</h4>
		<h3 ng-if="locationFound && !momentCompleted"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{locationText}}</h3>
	</div>
	<div class="main-wrapper">
		<div class="connect-overlay fade-pulse" ng-show="inMoment && !momentCompleted"></div>
		<div id="connect-flower-wrapper">
			<img ng-if="!inMoment && !momentCompleted" src="flower-static.gif" />
			<img ng-if="inMoment" src="flower.gif" />
		</div>

		<div id="connect-loading-wrapper">
			<div ng-show="!locationFound && !momentCompleted">
				<div class="small_circle">
					<div class="connect-loading-circle small_circle" id="left_fill"></div>
				</div>
				<div class="small_circle">
					<div class="connect-loading-circle small_circle" id="center_fill"></div>
				</div>
				<div class="small_circle">
					<div class="connect-loading-circle small_circle" id="right_fill"></div>
				</div>
			</div>
			<div ng-show="locationFound && !momentCompleted">
				<div id="connect-thumb-print"></div>
				<h4 class="thin-text">Hold your thumb down to connect</h4>
			</div>
			<div ng-show="locationFound && momentCompleted">
				<div><a href="/log"><div class="connect-button">Log my mood</div></a></div>
				<div><a href="/home"><div class="connect-button connect-button--faded">Return home</div></a></div>
			</div>
		</div>
	</div>
</div>