<div ng-controller="ConnectCtrl" class="text-center gradient-bkgrd">
	<div class="main-wrapper">
		<div class="pause-nav">
			<div class="col-xs-4">
				<a id="back-link" href="/home"><i class="fa fa-angle-left"></i></a>
			</div>
			<div class="col-xs-4">
				<h5 class="page-title">Connect</h5>
			</div>
			<div class="col-xs-4">
			</div>
		</div>

		<div ng-if="!currentUser" class="middle-message">
			<p>Hey there!</p>
			<br>
			<p class="thin-text">To connect and share moments, please sign in or create an account on our homepage.</p>
			<br>
			<a class="pause-button pause-button-action" href="/home">return home</a>
		</div>

		<div ng-if="currentUser" class="middle-message">

			<!-- div triggered modal -->
			<div class="tip thin-text" id="connect-tip" data-toggle="modal" data-target="#myModal">
				<i class="fa fa-heart-o"></i>
				<br><em>take a pause</em>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  	<div class="modal-dialog" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
				        	<h3 class="modal-title" id="myModalLabel">Taking a moment...</h3>
				    	</div>
					    <div class="modal-body">
					        <p class="modal-body-text">to stop and breathe helps reset your mind, allowing you to approach the same thing with a fresh, holistic perspective.</p>
					        <p>We believe that building an anonymous community of others similarly searching for moments of calm in their day will spread the health and love.</p>
					        <p class="modal-body-text">Through a physical connection by touching thumbs, it's as if you are sharing your vibes with the individual on the other end.</p>
					    </div>
					    <div class="modal-footer">
					      	<a class="pause-button pause-button-action" data-dismiss="modal">Got it</a>
					    </div>
			    	</div>
			  	</div>
			</div>



			<p>Spread the health and love!</p>
			<p class="thin-text">Join the anonymous community of pausers and connect with another.</p>
			<!--<p>Connect with another individual who has also searched for a few seconds of stillness.</p>-->
			<br>
			<a class="pause-button pause-button-action" href="/connect">ready to connect</a>
		</div>
	</div>
</div>