<div ng-controller="ConnectCtrl" class="text-center gradient-bkgrd">
	<div class="main-wrapper">
		<div class="pause-nav">
			<div class="col-xs-4">
				<a id="back-link" href="/home"><i class="fa fa-angle-left"></i></a>
			</div>
			<div class="col-xs-4">
				<h5 class="page-title">Connect</h5>
			</div>
			<div class="col-xs-4">
			</div>
		</div>
		<div ng-if="!currentUser" class="middle-message">
			<p>Hey there!</p>
			<br>
			<p class="thin-text">To connect and share moments, please sign in or create an account on our homepage.</p>
			<br>
			<a class="pause-button pause-button-action" href="/home">return home</a>
		</div>
		<div ng-if="currentUser" class="middle-message">
			<div class="tip thin-text" id="connect-tip">
				<i class="fa fa-heart-o"></i>
				<br><em>de-stress</em>
			</div>
			<p>Spread the health and love!</p>
			<p class="thin-text">Join the anonymous community of pausers and connect with another.</p>
			<!--<p>Connect with another individual who has also searched for a few seconds of stillness.</p>-->
			<br>
			<a class="pause-button pause-button-action" href="/connect">ready to connect</a>
		</div>
	</div>
</div>