<div ng-controller="ConnectCtrl" class="text-center gradient-bkgrd">
	<div class="main-wrapper">
		<div class="pause-nav">
			<div class="col-xs-4">
				<a href="/home"><i class="fa fa-angle-left"></i></a>
			</div>
			<div class="col-xs-4">
				<h5 class="page-title">Connect</h5>
			</div>
			<div class="col-xs-4">
			</div>
		</div>
		<div ng-if="!currentUser" class="middle-message"><a href="/home"><div class="connect-button">Please sign in.</div></a></div>
		<div id="connect-instructions" ng-if="currentUser">
			<h4 class="thin-text"><em>Life is fast, let's pause together</em></h4>
			<p>Something about human touch, thumbs, etc</p>
			<p>Pause will connect you to another person currently on the app. Together, you will have the ability to take a break and share a moment together.</p>
			<div id="connect-begin-button"><a href="/connect"><div class="btn btn-info">Ready to connect</div></a></div>
		</div>
	</div>
</div>