<div ng-controller="HomeCtrl" class="text-center gradient-bkgrd">
	<div>
		<div id="home-title-wrapper">
			<h1 id="home-title">pause</h1>
			<h4 class="thin-text" id="home-subtitle">life is fast, let's pause together</h4>
		</div>
		<div class="main-wrapper">
			<div>
				<ul id="home-menu">
					<li><a href="#"></a></li>
					<li ng-click="changePath('meditate')"><a>meditate</a></li>
					<li ng-click="changePath('connect-instructions')"><a>connect</a></li>
					<li ng-click="changePath('log')"><a>log</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>