<div ng-controller="HomeCtrl" class="text-center gradient-bkgrd">
	<div>
		<div class="pause-nav">
			<div class="col-xs-4">
				<login-buttons id="login"></login-buttons>
			</div>
			<div class="col-xs-4">
				<h5 class="page-title">Home</h5>
			</div>
			<div class="col-xs-4">
			</div>
		</div>
		<div id="home-title-wrapper">
			<p id="home-subtitle">Life is fast. Let's <em class="thin-text">pause</em> together.</p>
		</div>
		<div class="main-wrapper">
			<div>
				<ul id="home-menu">
					<li><a href="#"></a></li>
					<li ng-click="changePath('meditate-instructions')"><a>meditate</a></li>
					<li ng-click="changePath('connect-instructions')"><a>connect</a></li>
					<li ng-click="changePath('log')"><a>log</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
