<div ng-controller="HomeCtrl" class="text-center gradient-bkgrd">
	<div>
		<div class="pause-nav">
			<div class="col-xs-4">
				<login-buttons id="login"></login-buttons>
			</div>
			<div class="col-xs-4">
				<h5 class="page-title">Home</h5>
			</div>
			<div class="col-xs-4">
			</div>
		</div>
		<div id="home-top-title">
			<h1>life is fast...</h1>
		</div>
		<ul id="home-menu">
			<li><a href="#"></a></li>
			<li ng-click="changePath('meditate-instructions')"><a>meditate</a></li>
			<li ng-click="changePath('connect-instructions')"><a>connect</a></li>
			<li ng-click="changePath('log')"><a>log</a></li>
		</ul>
		<div class="home-phrase" id="home-bottom-title">
			<h1>let's <em class="thin-text">pause</em> together.</h1>
		</div>
	</div>
</div>
