<div ng-controller="LogCtrl" class="gradient-bkgrd text-center">	
	<div class="main-wrapper">
		<div class="pause-nav">
			<a href="/"><i class="fa fa-home"></i> Home</a>
		</div>
		<p class="thin-text">Select the photo that best captures how you feel right now:</p>
		<div class="log-emotions">
			<div class="row">
				<div class="col-xs-3" ng-repeat="emotion in emotions">
					<div class="log-emotion-block" ng-attr-id="{{emotion}}-block" ng-click="logColor(emotion)"></div>
				</div>
			</div>
		</div>
	</div>
</div>