<div ng-controller="LogCtrl" class="gradient-bkgrd text-center">	
	<div class="main-wrapper">
		<div class="pause-nav">
			<div class="col-xs-4">
				<a href="/"><i class="fa fa-angle-left"></i></a>
			</div>
			<div class="col-xs-4">
				<h5 class="page-title">Log</h5>
			</div>
			<div class="col-xs-4 pause-nav--right">
				<a href="/log/view"><i class="fa fa-clock-o"></i></a>
			</div>
		</div>
		<div ng-if="!currentUser" class="message"><a href="/home"><div class="connect-button">Please sign in.</div></a></div>
		<p class="thin-text" id="log-text" ng-if="currentUser">Which photo <em style="font-weight:400">best</em> captures how you feel right now?</p>
		<div class="log-emotions" ng-if="currentUser">
			<div class="row">
				<div class="col-xs-3" ng-repeat="emotion in emotions">
					<div class="log-emotion-block" ng-attr-id="{{emotion}}-block" ng-click="logEmotion(emotion)"></div>
				</div>
			</div>
		</div>
	</div>
</div>