<div ng-controller="LogCtrl" class="gradient-bkgrd text-center">	
	<div class="main-wrapper">
		<div class="pause-nav">
			<div class="col-xs-4">
				<a id="back-link" href="/"><i class="fa fa-angle-left"></i></a>
			</div>
			<div class="col-xs-4">
				<h5 class="page-title">Log</h5>
			</div>
			<div class="col-xs-4 pause-nav--right">
				<a id="past-mood-link" ng-if="currentUser" href="/log/view"><i class="fa fa-clock-o"></i></a>
			</div>
		</div>
		<div ng-if="!currentUser" class="middle-message">
			<p>Hey there!</p>
			<br>
			<p class="thin-text">To log and track emotions, please sign in or create an account on our homepage.</p>
			<br>
			<a class="pause-button pause-button-action" href="/home">return home</a>
		</div>

		<div id="log-text">
			<p ng-if="currentUser">Which photo <em><strong>best</strong></em> captures how you feel?</p>
		</div>
		<div class="log-emotions" ng-if="currentUser">
			<div class="row">
				<div class="col-xs-3" ng-repeat="emotion in emotions">
					<div class="log-emotion-block" ng-attr-id="{{emotion}}-block" ng-click="logEmotion(emotion)"></div>
				</div>
			</div>
		</div>
	</div>
</div>