<div ng-controller="LogviewCtrl" class="gradient-bkgrd text-center">
	<div class="pause-nav">
		<div class="col-xs-3">
			<a id="back-link" href="/log"><i class="fa fa-angle-left"></i></a>
		</div>
		<div class="col-xs-6">
			<h5 class="page-title">Past Moments</h5>
		</div>
		<div class="col-xs-3 pause-nav--right">
			<a id="home-link" ng-if="currentUser" href="/home"><i class="fa fa-home"></i></a>
		</div>
	</div>
	<div ng-if="!currentUser" class="middle-message">
		<a class="filler-msg-text" href="/home">Please return home and sign in.</a>
	</div>
	<div ng-if="currentUser && emotionLogs.length === 0" class="middle-message">
		<p class="filler-msg-text">Hm, it looks like you haven't logged any emotions yet!</p>
		<p class="filler-msg-text">How about logging one now so you can see your mood changes over time?</p>
		<div>
			<a class="pause-button pause-button-action" href="/log">log one now</a>&nbsp;&nbsp;
			<a class="pause-button pause-button-fade" href="home">later</a>
		</div>
	</div>

	<slick class="slick-top" settings="slickConfigTop" ng-if="emotionLogs.length > 0">
		<div ng-repeat="item in emotionLogs">
			<div class="slick-item-top slick-item ng-binding ng-scope" style="background: {{ item.color }};">
				<p class="item-emotion">{{ item.emotion }}</p>
				<p class="item-date">{{ item.date.toDateString() }}</p>
				<p class="item-quote"><i>"{{ quotes[item.emotion]["quote"] }}" — {{ quotes[item.emotion]["author"] }}</i></p>
			</div>
		</div>
	</slick>

	<slick class="slick-bot" settings="slickConfigBot" ng-if="emotionLogs.length > 0">
		<div ng-repeat="item in emotionLogs">
			<div class="slick-item-bot slick-item ng-binding ng-scope" style="background: {{ item.color }};">
				<p class="item-small-month-day">{{ monthNames[item.date.getMonth()] }} {{ item.date.getDate() }}</p>
				<p class="item-small-year">{{ item.date.getFullYear() }}</p>
			</div>
		</div>
	</slick>

</div>