<div ng-controller="MeditateCtrl" class="gradient-bkgrd text-center bodyscan-wrapper">
	<div class="pause-nav">
		<a ng-click="stopAudio()" href="home"><i class="fa fa-home"></i> Home</a>
	</div>
	<div ng-click="openInstructions()" class="btn btn-info btn-body-scan">Ready?</div>
	<img id="audio-icon" src="audio-icon.png">
	<!-- <div id="scanner"></div> -->
	<div id="body-scan-screen"></div>
	<div id="body-scan-overlay"></div>

	<!-- Popup instructions -->
	<div id="openModal" class="modalDialog">
		<div>
			<p>Put on headphones to follow the audio guided body scan exercise.</p>
			<p>Relax, and take full breaths.</p>
			<a href="#close" ng-click="beginScan()" id="close-scan-text" class="btn btn-primary">Begin</a>
		</div>
	</div>

	<!-- <div id="black-layer"></div> -->
</div>