<div ng-controller="MeditateCtrl" class="gradient-bkgrd text-center">
	<div class="pause-nav">
		<a href="home"><i class="fa fa-home"></i> Home</a>
	</div>
	<div ng-click="beginScan()" class="btn btn-info btn-body-scan">Begin</div>
	<div id="scanner"></div>
	<div id="body-scan-screen"></div>

	<div id="openModal" class="modalDialog">
		<div>
			<p>Follow the red scanner as it passes over the silhouette, taking note of any areas of discomfort or stress.</p>
			<p>Relax, and take full breaths.</p>
			<a href="#close" ng-click="scan()" id="close-scan-text" class="btn btn-primary">Start</a>
		</div>
	</div>

	<!-- <div id="black-layer"></div> -->
</div>