/* ===================
 *  GENERAL STYLING
 * ===================
 */

body {
	height: 100%;
	line-height: 1.5em;
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #373712;
	padding: 0;
	background-color: #fffbf7;
}

p {
	line-height: 1.5em;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 2em;
	font-weight: 300;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h2, h3, h4 {
	font-weight: 400;
	padding: 5px 0 10px 0;
}

h4 {
	text-transform: lowercase;
}

h5 {
	font-weight: 400;
	line-height: 1.5em;
}

.thin-text {
	font-weight: 300;
}

/* vertically aligning a div inside another div using flex */
.main-wrapper {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

/* Container for mobile app */
.main-app {
	width: 100%;
	height: 100vh;
	margin: auto;
	position: relative;
}

/* navigation */
.pause-nav {
	position: absolute;
	z-index: 5;
	top: 0px;
	padding: 2em 0 1em 0;
	width: 100%;
	background-color: rgb(78,120,160);
	text-align: left;
	font-size: 1.1em;
	color: #fefefe;
	-webkit-box-shadow: 0px 1px 2px 0px #999;
	-moz-box-shadow: 0px 1px 2px 0px #999;
	box-shadow: 0px 1px 2px 0px #999;
}

.pause-nav--right { text-align: right; }

.pause-nav a {
	padding: 7px 10px;
	font-size: 1.5em;
	color: #fefefe;
}
.pause-nav a:hover { text-decoration: none }

.pause-nav a#back-link {
	font-size: 2.2em;
	padding: 0.35em 1em 0 0.4em;
	position: absolute;
	top: -0.5em;
	left: 0em;
}
.pause-nav a#past-mood-link,
.pause-nav a#mood-home-link {
	font-size: 1.75em;
	padding: 0.5em 0 0 1em;
	position: absolute;
	top: -0.5em;
	right: 0.5em;
}
#login {
	position: absolute;
	top: 0;
}
#login-buttons a {
	color: inherit;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 1px;
	padding: 7px 12px;
	font-size: 1.1em;
}
.page-title {
	text-align: center;
	margin-bottom: 0px;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 1.3em;
	line-height: 1.15em;
}

.col-xs-3 {
	padding: 0em;
}


.gradient-bkgrd {
	background-color: #fffbf7;
	width: 100%;
	height: 100%;
}
.middle-message {
	padding: 0em 1.5em;
}
.middle-message p {
	font-size: 1.45em;
	line-height: 1.5em;
}
.filler-msg-text {
	font-size: 1.5em;
	line-height: 1.7em;
}

.tip {
	margin: 0 auto 1.5em auto;
	width: 8em;
	height: 8em;
	display: inline-block;
	border-radius: 4em;
	background-color: rgb(78, 120, 160);
	box-shadow: 2px 2px 3px 0px #565656;
	text-align: center;
	font-size: 1.35em;
	line-height: 1.5em;
	color: #fffbf7;
	font-weight: 400;
	padding-left: 0.25em;
}
.tip:hover {
	cursor: pointer;
}
.tip i.fa {
	font-size: 3em;
}
#meditate-tip {
	padding-top: 1.65em;
	padding-left: 0.25em;
}
#connect-tip {
	padding-top: 1.75em;
}

.page-prompt {
	margin: 0 4em 20px 4em;
	padding: 15px 0 15px 0;
	background-color: #fcf0e7;
	border-radius: 100px;
	box-shadow: inset 1px 1px 3px 0px #bababa;
}



/* ===============================
 *        SIGN IN STYLING
 * ===============================
 */

#login-dropdown-list {
	border-radius: 2px;
	width: 99vw;
}

/* sign in dialogue modal styling */
.accounts-dialog * {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 0.75px;
	font-size: 1.2em;
}

/* close text */
#login-buttons .login-close-text {
	color: #707070;
	margin-bottom: 10px;
	border: 1px dotted #9a9a9a;
	border-radius: 2px;
}

.login-password-form {
	padding: 0.5em 0;
}

#login-buttons #login-name-link,
#login-buttons #login-sign-in-link {
	position: relative;
	top: 2px;
	left: -10px;
}

/* Text above input forms */
.accounts-dialog label, .accounts-dialog .title {
	font-weight: 300;
	text-transform: lowercase;
}

/* Actual input forms */
#login-buttons input[type=text], .accounts-dialog input[type=text], #login-buttons input[type=email], .accounts-dialog input[type=email], #login-buttons input[type=password], .accounts-dialog input[type=password] {
	padding: 15px 10px;
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* sign in button */
#login-buttons .login-button, .accounts-dialog .login-button {
	padding: 15px 10px;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.2em;
	background-color: #f28a5d;
	border: 0;
	border-radius: 5px;
	text-transform: lowercase;
	box-shadow: 1px 1px 3px 0px #707070;
}
/* sign in button hover */
#login-buttons .login-button:hover, .accounts-dialog #login-buttons-logout:hover {
	background-color: #d97c53;
}

.accounts-dialog #login-buttons-open-change-password {
	margin-top: 1.25em;
	margin-bottom: 0.5em;
	background-color: rgba(210,210,210,0.55);
	color: #a0a0a0;
}
.accounts-dialog #login-buttons-open-change-password:hover {
	background-color: rgba(210,210,210,0.75);
	color: #a0a0a0;
}

.accounts-dialog #login-buttons-logout {
	margin-bottom: 1em;
}



/* create account link */
#login-buttons #signup-link, #login-buttons #back-to-login-link {
	margin: 10px 0 5px 0;
	font-size: 0.7em;
}





/* ===========================
 *     GENERAL BUTTONS
 * ===========================
 */
.pause-button {
	color: #fefefe;
	width: 100%;
	margin: auto;
	padding: 1em 2.1em;
	border-radius: 5px;
	font-size: 1.5em;
	letter-spacing: 0.75px;
	line-height: 4em;
	box-shadow: 1px 1px 3px 0px #565656;
	text-transform: lowercase;
}
.pause-button:hover {
	color: #fefefe;
	cursor: pointer;
}
.pause-button-action {
	background-color: rgba(242,138,93,1);
}
.pause-button-action:hover {
	background-color: rgba(242,138,93,0.9);
}
.pause-button-fade {
	background-color: rgba(210,210,210,0.55);
	color: #272727;
}
.pause-button-fade:hover {
	background-color: rgba(210,210,210,0.75);
	color: #272727;
}




/* =========================
 *       THE HOME PAGE
 * =========================
 */

/* upper title layer */
#home-top-title {
	position: relative;
	top: 9em;
}
#home-bottom-title {
	position: relative;
	top: 35em;
}
#home-bottom-title h1 em {
	font-weight: 400;
	letter-spacing: 2px;
}

/* Menu */
#home-menu {
	position: relative;
	margin: auto;
	top: 17em;
	left: -1.75em;
	height: 100%;
	-webkit-box-shadow: 2px 2px 2px;
	-moz-box-shadow: 2px 2px 2px;
	box-shadow: 2px 2px 2px;
}
#home-menu li {
	background-color: rgb(78,120,160);
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #323232;
	font-size: 1.5em;
	-webkit-box-shadow: 1px 1px 3px #708090;
	-moz-box-shadow: 1px 1px 3px #708090;
	box-shadow: 1px 1px 3px #708090;
}
#home-menu li:hover {
	cursor: pointer;
}
#home-menu li:first-child {
	background: #fafafa url("lotus.png") no-repeat center;
	-webkit-background-size: 4.5em 3em;
	-moz-background-size: 4.5em 3em;
	background-size: 4.5em 3em;

	-webkit-box-shadow: 2px 2px 7px #797979;
	-moz-box-shadow: 2px 2px 7px #797979;
	box-shadow: 2px 2px 7px #797979;
}
#home-menu li a {
	font-size: 0.9em;
	font-style: italic;
	letter-spacing: 0.75px;
	text-decoration: none;
	color:#fff;
}






/* =========================
 *  THUMB CONNECTION
 * =========================
 */
.connect-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 9999;
}
#connect-status {
	position: relative;
	top: 8.5em;
	width: 100%
}
#connect-flower-wrapper {
	margin: 14.5em auto 7em auto;
	width: 100%;
}
#connect-flower {
	width: 100%;
}
#connect-loading-wrapper {
	position: relative;
	bottom: 4.5em;
	width: 100%;
}
#connect-thumb-print {
	position: relative;
    background-image: url('thumb2.png');
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-background-size: 5em 7em;
    -moz-background-size: 5em 7em;
    background-size: 5em 7em;
    width: 10em;
    height: 10em;
    margin: 0 auto 0.5em auto;
	box-shadow: inset 2px 2px 4px 0px #999;
	background-color: #fcf0e7;
	border-radius: 5em;
}
#thumb-text {
	font-size: 1.5em;
	margin-top: 1em;
}

.connect-loading-circle {
    background-color: #4e78a0;
}

#connect-instructions > *:not(:last-child) {
	margin-bottom: 1em;
}

p#connect-load-msg {
	font-size: 1.5em;
	line-height: 1.5em;
	letter-spacing: 0.75px;
	margin-bottom: 1em;
}





/* ==============================
 *         MEDITATE SCREEN
 * ==============================
 */
#body-scan-screen {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	-webkit-background-size: 85% 85%;
	-moz-background-size: 85% 85%;
	background-size: 85% 85%;
	background-position: center 90%;
	background-repeat: no-repeat;
}

#audio-icon {
	width: 2em;
	display: none;
	position: relative;
	top: 6em;
	z-index: 5;
	opacity: 0.8;
	filter:alpha(opacity=80);
	float: right;
	margin: 10px 30px;
}
.btn-body-scan {
	z-index: 3;
	position: relative;
	top: 30px;
}





/*  ====================
		POP UP TIPS
	====================
*/
.modal {
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: rgba(150, 150, 150, 0.2);
	z-index: 1050;
}
.modal-content {
	border-radius: 5px;
}
.modal-header {
	background-color: rgb(78, 120, 160);
	color: #efefef;
}
.modal-header button.close {
	color: #efefef;
	opacity: 0.65;
	filter: alpha(opacity=65);
}
.middle-message p.modal-body-text {
	font-size: 1.25em;
	line-height: 1.65em;
	text-align: left;
}
.modal-footer {
	text-align: center;
}
.modal-footer button {
	border-radius: 5px;
	width: 100%;
}






/* ===========================
 *       VIEW MOMENTS PAGE
 * ===========================
 */
 .slick-item {
	color: #fff;
	font-size: 2.25em;
	line-height: 4em;
	margin: 6px;
	text-align: center;
	opacity: 1;
	box-shadow: 2px 2px 2px rgba(34,34,34,0.7);
}

/* card styling */
.slick-top {
	padding-top: 25%;
	height: 75%;
}
.slick-item-top {
	border-radius: 10px;
	padding-top: 10%;
	padding-bottom: 10%;
	z-index: 1000;
	width: 75%;
	margin: 0 auto;
	height: 350px;
	box-shadow: 2px 4px 2px 0px rgba(100,100,100,0.6);
}
.item-quote {
	font-size: 0.5em;
	opacity: 0.9;
	padding: 1.5em;
}

/* scrolly bottom bar of multiple colors */
.slick-bot {
	background-color: rgba(78, 120, 160, 0.1);
	box-shadow: inset 0px 1px 3px 0px #cacaca;
	padding: 20px 0 15px 0;
	margin-bottom: 0;
	height: 25%;
}
.slick-item-bot {
	opacity: 0.9;
	border-radius: 50px;
	width: 2.5em;
	height: 2.5em;
	padding-top: 0.65em;
	padding-bottom: 0.25em;
}
.slick-bot .slick-current {
	border-bottom: 1px groove #fff;
	box-shadow: 0px 1px 5px 1px #a0a0a0;
}


.item-date {
	font-size: 15px;
	opacity: 0.5;
	text-transform: lowercase;
}
.item-small-month-day {
	font-size: 14px;
	margin-bottom: -2px;
}
.item-small-year {
	font-size: 12px;
	opacity: 0.6;
}





/* ======================
 *        LOG PAGE
 * ======================
 */
#log-text {
 	padding-top: 3.5em;
 }
#log-text p {
	font-size: 1.25em;
	letter-spacing: 0.5px;
}
.log-emotions {
	width: 100%;
	margin-top: 1em;
	padding: 0.15em 1.75em;
}
.log-emotion-block {
	height: 7.45em;
	opacity: 0.95;
	filter: alpha(opacity=95);
	border-bottom: 1em solid white;
	border-radius: 3px;
	cursor: pointer;
	margin: 4px 2.5px;
	box-shadow: 1px 1px 4px #7a7a7a;
}
#afraid-block {
	background: maroon url("emotions/afraid.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;

	border-color: maroon;
}
#tense-block {
	border-color: darkred;
	background: darkred url("emotions/tense.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#excited-block {
	border-color: crimson;
	background: crimson url("emotions/excited.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#delighted-block {
	border-color: mediumvioletred;
	background: mediumvioletred url("emotions/delighted.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#frustrated-block {
	border-color: brown;
	background: brown url("emotions/frustrated.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#angry-block {
	border-color: sienna;
	background: sienna url("emotions/angry.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#happy-block {
	border-color: tomato;
	background: tomato url("emotions/happy.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#glad-block {
	border-color: coral;
	background: coral url("emotions/glad.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#miserable-block {
	border-color: #404080;
	background: #404080 url("emotions/miserable.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#sad-block {
	border-color: navy;
	background: navy url("emotions/sad.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#calm-block {
	border-color: teal;
	background: teal url("emotions/calm.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#satisfied-block {
	border-color: royalblue;
	background: royalblue url("emotions/satisfied.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#gloomy-block {
	border-color: slategray;
	background: slategray url("emotions/gloomy.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#tired-block {
	border-color: midnightblue;
	background: midnightblue url("emotions/tired.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#sleepy-block {
	border-color: darkslateblue;
	background: darkslateblue url("emotions/sleepy.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
#serene-block {
	border-color: indigo;
	background: indigo url("emotions/serene.jpg") no-repeat center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}





/* ===========================
 *   CIRCLES
 * ===========================
 */
.circle {
	overflow: hidden;
	border-radius: 45%;
    margin-left: auto;
    margin-right: auto;
}

.small_circle {
    overflow: hidden;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    display: inline-block;
}





/* ===========================
 *   ANIMATIONS
 * ===========================
 */
.fade-pulse {
	-webkit-animation: fadePulse 5s;
	animation: fadePulse 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 4;
	animation-iteration-count: 4;
}

@-webkit-keyframes fadePulse {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0; 
	} 
}

@keyframes fadePulse {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0; 
	} 
}