/* ===================
 *  GENERAL STYLING
 * ===================
 */

body {
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.2em;
	font-weight: 200;
	color: #373712;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 5px 0;
}

.thin-text {
	font-weight: 100;
}

/* vertically aligning a div inside another div using flex */
.main-wrapper {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

/* Container for mobile app */
.main-app {
	width: 375px;
	height: 667px;
	margin: auto;
	position: relative;
}

.pause-nav {
	position: absolute;
	top: 10px;
	left: 10px;
}

.pause-nav a {
	color: black;
}

.pause-nav a:hover {
	text-decoration: none
}

.gradient-bkgrd {
	background: url('blueyellowbkgrd.png') no-repeat fixed center center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.col-xs-6 {
	padding: 0;
}


/* =========================
 *  THE HOME PAGE
 * =========================
 */
#home-title-wrapper {
	position: relative;
	top: 15vh;
	width: 100%;
}

#home-title {
	letter-spacing: 5px;
}

#home-menu {
	position: relative;
	margin: auto;
	top: -3em;
	left: -1.25em;
	height: 100%;
	box-shadow: 2px 2px 2px;
}
#home-menu li:first-child {
	background: #323232 url("hand.png") no-repeat center;
	background-size: 4.5em 4.5em;
	-webkit-background-size: 4.5em 4.5em;
	-moz-background-size: 4.5em 4.5em;
	box-shadow: 1px 1px 7px #797979;
}
#home-menu li {
	background: #F49230;
	font-family: 'Raleway';
	color: #323232;
	font-size: 1.5em;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

#home-menu li:hover {
	cursor: pointer;
}

#home-menu a {
	text-decoration: none;
	color:#fff;
}

/* =========================
 *  THUMB CONNECTION
 * =========================
 */
#connect-status {
	position: absolute;
	top: 50px;
	width: 100%;
}

#connect-thumb-outer {
	background-color: #fff;
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*border: .5vh solid orange;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#connect-thumb-inner {
	position: absolute;
	background-color: orange;
    right: 150px;
    left: 150px;
    top: 150px;
    bottom: 150px;
}

#connect-thumb-print {
    background-image: url('thumb.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px 225px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1vw;
    right: 1vw;
    z-index: 1;
}

#connect-loading-wrapper {
	position: absolute;
	width: 100%;
	top: 550px;
}

.connect-loading-circle {
    background-color: orange;
}

.connect-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 375px;
	height: 667px;
	background-color: orange;
	z-index: 1;
}



/* ======================
 *  BODY SCANNING SCREEN
 * ======================
 */

#scanner {
	border: 3px solid red;
	width: 50%;
	margin: 0 auto;
	position: relative;
	top: 50px;
	visibility: hidden;
}

#body-scan-screen {
	width: 100%;
	height: 100vh;
	background: url("bodyoutline.png") no-repeat center;
	background-size: 75% 85%;
}

.btn-body-scan {
	position: relative;
	top: 30px;
}

#black-layer {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	background: #a0a9a9 url('blueyellowbkgrd.png') no-repeat center;/*
	background-color: #a0a0a0;
	background-image: url(img/blueyellowbkgrd.png);
	background-repeat: no-repeat;
	background-position: center;*/
	opacity: 0.6;
	filter: alpha(opacity=60);
	pointer-events: none;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 300px;
	position: relative;
	margin: 10% auto;
	padding: 30px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}


/* ===========
 *  LOG PAGE
 * ===========
 */
.log-colors {
	width: 90%;
}

.log-color-block {
	height: 7em;
	opacity: 0.95;
	filter: alpha(opacity=95);
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;
}
#black-block { background-color: #272727; }
#purple-block { background-color: mediumpurple; }
#blue-block { background-color: royalblue; }
#green-block { background-color: mediumseagreen; }
#yellow-block { background-color: khaki; }
#orange-block { background-color: sandybrown; }
#red-block { background-color: firebrick; }
#pink-block { background-color: lightcoral; }
#white-block { background-color: #f9f9f9; }


/* ===========================
 *   CIRCLES
 * ===========================
 */
.circle {
	overflow: hidden;
	border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.small_circle {
    overflow: hidden;
    border-radius: 50%;
    /*width: 7vw;
    height: 7vw;*/
    /*border: .2vh solid orange;*/
    height: 30px;
    width: 30px;
    display: inline-block;
}

pie {
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
}

.twentyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

.fifty {
    background-image:
        linear-gradient(90deg, white 50%, transparent 50%);
}

/* Slices greater than 50% require first gradient
   to be transparent -> green */

.seventyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, orange 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

.onehundred {
    background: orange;
}



/* ===========================
 *   ANIMATIONS
 * ===========================
 */
.fade-pulse {
	-webkit-animation: fadePulse 5s;
	animation: fadePulse 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 4;
	animation-iteration-count: 4;
}

@-webkit-keyframes fadePulse {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0; 
	} 
}

@keyframes fadePulse {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0; 
	} 
}

/* Source: https://medium.com/@andsens */
/*.radial-load-outer {
	width: 300px;
	height: 300px;
	background-color: #fff;
	border-radius: 50%;
}
.radial-load-outer .radial-load-inner .radial-load-mask,
.radial-load-outer .radial-load-inner .radial-load-fill {
	width: 300px;
	height: 300px;
	position: absolute;
	border-radius: 50%;
	transition: -webkit-transform 12s;
	transition: -ms-transform 12s;
	transition: transform 12s;
	-webkit-backface-visibility: hidden;
}
.radial-load-outer .radial-load-inner .radial-load-mask {
	clip: rect(0px,300px,300px,150px);
	clip-path: inset(0px 300px 300px 150px);
}
.radial-load-outer .radial-load-inner .radial-load-mask .radial-load-fill {
	clip: rect(0px,150px,300px,0px);
	background-color: orange;
}*/

