
body {
	font-family: 'Lato', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 0.5px;
	color: #555;
}

.navbar-default {
    border-color: rgba(200,200,225,.75);
}
.navbar-brand {
	padding: 2px 0 0 5px;
}

h2 {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1em;
}


/* style for first header panel
 * =============================
 */
header .header-content .header-content-inner h1#title {
	text-transform: lowercase;
	font-weight: 400;
	font-style: italic;
	font-size: 10em;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
header .header-content #catchphrase {
	padding-top: 2em;
}
header .header-content .header-content-inner p {
	font-size: 1.5em;
	line-height: 1.5em;
}
header .header-content #header-text {
	background-color: rgba(220,220,220,0.35);
    border-radius: 10px;
    padding: 3em 0.5em;
}
#header-text p {
	color: #555;
}
header .header-content .header-content-inner {
	margin-top: 2em;
	margin-bottom: 3em;
}
header #lotus {
	width: 11em;
	position: relative;
	top: -5em;
	left: 10em;
	z-index: -1;
}


#about {
	padding: 8em 0.5em;
	background-color: #f5f5f5;
	color: #555;
}


/* ALL STYLING FOR GRID HOVER EFFECTS IN DESIGN PROCESS 
 * =====================================================
 */
 .portfolio-box {
	height: 250px;
	border-right: 0.5px solid #fafafa;
	border-bottom: 0.5px solid #fafafa;
	background-color: #008080;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name,
.portfolio-box .portfolio-box-caption .project-links {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.portfolio-box .portfolio-box-caption .project-name {
	color: #fff;
	font-weight: 300;
	text-transform: lowercase;
}
.portfolio-box .portfolio-box-caption .project-links {
	opacity: 0;
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	text-align: center;
}
.portfolio-box:hover .portfolio-box-caption .project-links {
	opacity: 1;
	bottom: 3em;
}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-category {
	-moz-transform: translate3d(0, -185%, 0);
	-ms-transform: translate3d(0, -185%, 0);
	-webkit-transform: translate3d(0, -185%, 0);
	transform: translate3d(0, -185%, 0);
}
.portfolio-box:hover .portfolio-box-caption .portfolio-box-caption-content .project-name {
	-moz-transform: translate3d(0, -125%, 0);
	-ms-transform: translate3d(0, -125%, 0);
	-webkit-transform: translate3d(0, -125%, 0);
	transform: translate3d(0, -125%, 0);
}




#team {
	background-color: #f5f5f5;
	color: #555;
}
.service-box {
	max-width: 175px;
}
.service-box img {
	margin-bottom: 0.5em;
	width: 100%;
}




.btn-default {
	background-color: rgba(255,99,71, 0.8);
	border: 0;
	border-radius: 2px;
	color: #fafafa;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(100,100,100,0.5);
    -moz-box-shadow: 3px 3px 5px 1px rgba(100,100,100,0.5);
    box-shadow: 3px 3px 5px 1px rgba(100,100,100,0.5);
}
.btn-secondary {
	background-color: rgba(255,255,255,0.45);
	border-radius: 2px;
    color: #fff;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(75,75,75,0.65);
    -moz-box-shadow: 2px 2px 5px 1px rgba(75,75,75,0.65);
    box-shadow: 2px 2px 5px 1px rgba(75,75,75,0.65);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
    color: #eee;
    background-color: rgba(250,250,250,0.6);
}


footer {
	padding-top: 1.5em;
}
